.articleBox, .cleanBox, .cleanBoxExtended, .mod {
  margin: 10px;
}
.articleBox h1, .cleanBox h1, .cleanBoxExtended h1, .mod h1 {
  font-size: 40px;
}
.articleBox h1, .cleanBox h1, .cleanBoxExtended h1 {
  font-size: 60px;
}
