$icons: font-sheet("fontsheet/*.svg", $cache-buster: false);

@font-face {
	font-family: 'FontSheet';
	src: font-url($icons, 'eot', $cache-buster: false);
	src: $icons;
	font-weight: normal;
	font-style: normal;
}

.icon {
  display: inline-block;
  font-family: FontSheet;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $icon in fonts($icons) {
    .icon-#{$icon}:before {
        content: font-content($icons, $icon);
    }
}
