@font-face {
  font-family: 'FontSheet';
  src: url('static/assets/fontsheet-GT3Ba2t8v8N4l1GTfTS07A.eot');
  src: url('static/assets/fontsheet-GT3Ba2t8v8N4l1GTfTS07A.svg?#fontsheet') format('svg'),
    url('static/assets/fontsheet-GT3Ba2t8v8N4l1GTfTS07A.woff') format('woff'),
    url('static/assets/fontsheet-GT3Ba2t8v8N4l1GTfTS07A.ttf') format('truetype'),
    url('static/assets/fontsheet-GT3Ba2t8v8N4l1GTfTS07A.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font-family: FontSheet;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doctor:before {
  content: "";
}

.icon-donative:before {
  content: "";
}
