@option compress:no;

@import "menu";

$MENUS-RADIUS: 2px;
$BASE-COLOR-HOVER: #008000;
$BASE-COLOR-SHADE: #006400;
$BOTTOMMENU-COLOR: #444444;
$BOTTOMMENU-COLOR-HOVER: #222222;
$BOTTOMMENU-COLOR-HOVER-CURRENT: #468;
$BOTTOMMENU-SUBMENU-BORDER-WIDTH: 2px;
$BOTTOMMENU-SUBMENU-BACKGROUND: #ffffff;

.bottommenu {
	@include menu(
            (
                i: (
                    0: (
                        height: 20px,
                        line-height: 20px,
                        border-radius: $MENUS-RADIUS,
                        color: $BOTTOMMENU-COLOR,
                        background: none,
                        separator-color: $BASE-COLOR-HOVER,
                        current: (
                            color: $BOTTOMMENU-COLOR-HOVER-CURRENT,
                        ),
                        hover: (
                            color: $BOTTOMMENU-COLOR-HOVER,
                            background: $BASE-COLOR-HOVER,
                        ),
                        folder: (
                            border-radius: $MENUS-RADIUS,
                        ),
                    ),
                ),
                u: (
                    2: (
                        type: dropup,
                        border-width: $BOTTOMMENU-SUBMENU-BORDER-WIDTH,
                        border-color: $BASE-COLOR-SHADE,
                        border-radius: $MENUS-RADIUS * 2,
                        background: rgba($BOTTOMMENU-SUBMENU-BACKGROUND, 30%),
                        hover: (
                            background: $BOTTOMMENU-SUBMENU-BACKGROUND,
                        ),
                    ),
                ),
            )
	);
}
